<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find control_1)/config/scara_control.yaml" command="load"/>
  <rosparam file="$(find moveit_4)/config/controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="/scara"
    output="screen" args="joint_state_controller
      hombro_position_controller
      codo_position_controller
      muneca_position_controller
      articulacion_position_controller      "/>

</launch>
