<?xml version="1.0"?>
<launch>
    
  <rosparam file="$(find scara_hardware)/config/controllers.yaml"    command="load"/>
  <rosparam file="$(find scara_hardware)/config/joint_limits.yaml"   command="load"/>
   
  <param name="robot_description" textfile="$(find epson)/urdf/epson.urdf" />
   
  <node name="robot_hardware_interface" pkg="scara_hardware"    type="scara_hardware_node"     output="screen"/>
  <node name="robot_state_publisher"    pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find epson)/urdf.rviz"/>
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  
    args="
      /scara/joints_update
      /scara/articulacion_position_controller
      /scara/muneca_position_controller
      /scara/codo_position_controller
      /scara/hombro_position_controller
    "/>

</launch>